/* src/components/Navbar.css */

.navbar {
    background-color: var(--card-bg);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     color: var(--text-primary);
  }
  
  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
  }

  .navbar-controls {
  display: flex;
  align-items: center;
  gap: 20px;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .navbar-links a {
    color: var(--text-primary);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #ffdd57;
  }

/* .logout-link {
  color: #ff4d4d;
  font-weight: 600;
  transition: color 0.2s;
} */
.logout-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font: inherit;
  transition-delay:0.5s;
}
.logout-button:hover {
  border: white;
  border-width: 1px;
  border-radius: 2px;
}

/* .logout-link:hover {
  color: #ff1a1a;
} */
  
.star-rating-fill {
  background: var(--bg-default); /* Dynamic theming for ratings */
}